$smallTeam: 46px;
$largeTeam: 124px;

.Profile {
  border: 2px solid yellow;

  &__img {
    width: $smallTeam;
    height: $smallTeam;
    background: cadetblue;
    border-radius: 50%;
    margin-right: 14px;

    @include large {
      width: $largeTeam;
      height: $largeTeam;
      margin: 0;
    }
  }
}
