$smallTeam: 46px;
$largeTeam: 124px;
$marginBottom: 24px;

h1 {
  background-color: red;
}
.Home__image {
  display: none;
}

.about {
  width: 100%;
  padding-left: 20px;

  @include large {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: $marginBottom;
    width: 100%;

    @include large {
      font-size: 30px;
      margin-left: 20px;
    }
  }

  &__container {
    @include large {
      width: 80%;
      max-width: 570px;
    }
  }

  &__team {
    display: flex;
    margin-bottom: $marginBottom;
    width: 60%;

    @include large {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__text {
    width: 90%;
    font-size: 16px;
    line-height: 24px;

    @include large {
      width: 100%;
    }
  }
}
