$smallTeam: 46px;
$largeTeam: 124px;
$marginBottom: 24px;

h1 {
  background-color: red;
}
.Home__image {
  display: none;
}

.section {
  width: 100%;
  padding-left: 20px;
  margin-bottom: 50px;
  font-family: "PT Sans", sans-serif;

  @include large {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 84px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: $marginBottom;
    width: 100%;

    @include large {
      font-size: 30px;
      padding-left: 20px;
    }
  }

  &__container {
    @include large {
      width: 80%;
      max-width: 570px;
    }
  }
  &__list {
    display: flex;
    margin-bottom: $marginBottom;
    width: 60%;

    @include large {
      width: 100%;
      justify-content: space-between;
    }
  }
}

.about {
  &__text {
    width: 90%;
    font-size: 16px;
    line-height: 24px;

    @include large {
      width: 100%;
    }
  }
}

.sources {
  &__links {
    display: flex;
    justify-content: space-between;

    @include medium {
      justify-content: center;
    }

    @include large {
      justify-content: space-between;
    }
  }

  &__link {
    width: 20%;
    height: 20%;
  }
}
