.Header {
  display: none;

  @include large {
    height: 60px;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }

  &__link,
  &__about {
    text-decoration: none;
    color: #76818b;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link {
    text-transform: uppercase;
    margin: 0 20px;

    &--active {
      color: salmon;
    }
  }

  &__logo {
    height: 20px;
    width: 40px;
    background-color: salmon;
  }
}
