.Header {
    display: none;

    @include large {
        height: 60px;
        width: 100%;
        background-color: #F7F7F7;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
    }

    &__link, &__about {
        text-decoration: none;
        color: #76818B;

        &:hover {
            text-decoration: underline;
        }
    }

    &__link {
        text-transform: uppercase;
        margin: 0 20px;
    }

    &__logo {
        height: 20px;
        width: 40px;
        background-color: salmon;
    }

}