@mixin medium {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 800px) {
    @content;
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include large {
    margin-top: 50px;
  }
}
